body {
    margin: 0;
    font-family: roboto; 
}

/* hero body */
.hero-container {
    background-color: #1f2937;
    width: 100%;
    height: 100%;
    padding-bottom: 50px;
    display: flex;
    flex-flow: column;
    align-items: center;
    /* justify-content: center; */
}

.header {
    background-color: #1f2937;
    width: 75%;
    height: auto;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    margin: 0;
    padding: 0;
    gap: 25px;
    list-style-type: none;
    display: flex;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
}

.hero {
    background-color: #1f2937;
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-main { 
    display: flex;
    flex-direction: column;
    width: 50%;
}

.hero-title {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
}

.hero-text {
    color: #e5e7eb;
    font-size: 18px;
}
/* hero body */

/* info body */
.info-container {
    text-align: center;
    padding: 100px;
}

img {
    width: 100px;
    height: 100px;
    border-color: #3882f6;
}

.info-title {
    font-size: 36px;
    font-weight: bolder;
    margin-bottom: 32px;
}

.container-info {
    display: flex;
    justify-content: center;
    gap: 52px;
}

.info {
    max-width: 200px;
}
/* info body */

/* quotes body */
.quotes-container {
    background-color: #e5e7eb;
    padding: 100px;
    display: flex;
    justify-content: center;
}

.quotes-cont {
    max-width: 956px;
    
}

.quotes {
    color: #1f2937;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}

.author {
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
}
/* quotes body */

/* call to action body */
.call-to-action {
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta-container {
    background-color: #3882f6;
    padding: 50px 100px;
    gap: 100px;
    display: flex;
    justify-content: space-between;
}

.cta-button {
    display: flex;
    align-items: center;
} 
/* call to action body */

/* footer body */
.footer-container {
    background-color: #1f2937;
    padding: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    color: #f9faf8;
}
/* footer body */

/* buttons */
.hero-signup,
.cta-signup {
    color: white;
    background-color: #3882f6;
}

.hero-signup {
    border-color: #3882f6;
}

.cta-signup {
    border-color: white;
}
/* buttons */